* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    
    
}
body {
    font-size: default;
    background-color: whitesmoke;
}

img {
    max-width: 500px;
    border-radius: 250px;
    margin-left: 900px;
}

.nav-links {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 16px;
    background-color: lightblue;   
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
    text-align: center;  
}

.nav-links li a {
    transition: all 0.3 ease 0s;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links li a:hover {
    color: blue;
    text-decoration: underline;
}

.nav-links li a:active {
    color: white;
    text-decoration: none;
}



h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 100px;
}

.box {
   background: lightblue;
   width: 800px;
   height: 300px;
   margin: 40px;
   border-radius: 20px;

}

.about-placement {
    position: absolute;
    bottom: 200px;
}

.project-placement {
    position: relative;
    bottom: 400px;
}

.contact-placement {
    position: relative;
    bottom: 390px;
}

h2 {
    padding: 50px 0px 0px 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    padding: 25px 0px 10px 25px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}