* {
    margin: auto;
    padding: auto;
}

body {
    min-height: 100vh;

    background-color: whitesmoke;
    overflow-x: hidden;
}

img {
   
    max-width: 100%;
    border-radius: 250px;
    margin-left: auto;
    margin-right: auto;
    
}

.nav-links {
    
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
}

header {
    margin: 0%;
    left: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 16px;
    background-color: lightblue; 
     
}

.nav-links li {
   display: inline-block;
    padding: 0px 20px;
    list-style: none;
    text-align: center;  
}

.nav-links li a {
    transition: all 0.3 ease 0s;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links li a:hover {
    color: blue;
    text-decoration: underline;
}

.nav-links li a:active {
    color: white;
    text-decoration: none;
}



h1 {
    align-items: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 40px;
    margin-top: 40px 0 40px 0px;
    font-size: 100px;
}

.content-box {
    margin-left: auto;
    width: 50%;
}

section {
    display: flex;
}
 
.box {
    margin-left: auto;
    background: lightblue;
    width: 100%;
    border-radius: 20px;
    margin: 40px;
}

.spacing {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}


h2 {
    padding: 50px 0px 0px 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    padding: 25px 0px 10px 25px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    
}


@media screen and (max-width: 992px) { 
    .box {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }
      
      .spacing { 
          margin-left: auto;
          margin-right: auto;
          width: 50%;
      } 
      .content-box {
          margin-left: auto;
          margin-right: auto;
          width: 50%
      }
      .spacing h1 {
          font-size: 50px;
          text-align: center;
          
      }
      section {
        display: block;
        width: 100%;
      }
  
  }
  
  
   @media screen and (max-width: 768px) { 
     .box {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }

    .spacing { 
        width: 100%;
        margin-left: auto;
       
    } 
    .content-box {
        margin-left: auto;
        margin-right: auto;
        width: 85%
    }
    .spacing h1 {
        
        
    }
    section {
        display: block;
        width: 100%;
    }
   
  }

   

 

 
